<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Search Results</title>
</head>
<body>
    {% if name %}
    <h2>{{name}} Search Results</h2>
    <br />
    <p>Here is some random text that will be replaced with information about {{name}}</p>
    <br />
    <h1>Analysis:</h1>
    <table>
        <thead>
            <tr>
                <th>Current Price:{{price}}</th>
            </tr>
            <tr>
                <th>Candelstick Pattern:{{pattern}} <a href="http://localhost:4449/patterns">Learn more about Patterns</a></th>
            </tr>
            <tr>
                <th>Advised Action:{{action}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Chart of the data</th>
            </tr>
        </tbody>
    </table>



    {% else %}<!--This is for if there is an error passing the name-->
    <h2>There was an error with passing the variabels</h2>
    {% endif %}


</body>
</html>