<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Assets</title>
</head>
<body>
    <h1>Supported Assets</h1>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Ticker/ Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Bitcoin</th>
                <th><a href="http://localhost:4449/search/BTC-USD">BTC-USD</a></th>
            </tr>
            <tr>
                <th>Etherium</th>
                <th><a href="http://localhost:4449/search/ETH-USD">ETH-USD</a></th>
            </tr>
            <tr>
                <th>Solana</th>
                <th><a href="http://localhost:4449/search/SOL1-USD">SOL1-USD</a></th>
            </tr>
            <tr>
                <th>Cardano</th>
                <th><a href="http://localhost:4449/search/ADA-USD">ADA-USD</a></th>
            </tr>
            <tr>
                <th>Matic Network</th>
                <th><a href="http://localhost:4449/search/MATIC-USD">MATIC-USD</a></th>
            </tr>
            <tr>
                <th>Avalanche</th>
                <th><a href="http://localhost:4449/search/AVAX-USD">AVAX-USD</a></th>
            </tr>
            <tr>
                <th>Polkadot</th>
                <th><a href="http://localhost:4449/search/DOT1-USD">DOT1-USD</a></th>
            </tr>
            <tr>
                <th>Decentraland</th>
                <th><a href="http://localhost:4449/search/MANA-USD">MANA-USD</a></th>
            </tr>
            <tr>
                <th>Stellar</th>
                <th><a href="http://localhost:4449/search/XLM-USD">XLM-USD</a></th>
            </tr>
            <tr>
                <th>VeChain</th>
                <th><a href="http://localhost:4449/search/VET-USD">VET-USD</a></th>
            </tr>
            <tr>
                <th>Helium</th>
                <th><a href="http://localhost:4449/search/HNT1-USD">HNT1-USD</a></th>
            </tr>
            <tr>
                <th>BianceCoin</th>
                <th><a href="http://localhost:4449/search/BNB-USD">BNB-USD</a></th>
            </tr>
            <tr>
                <th>XRP</th>
                <th><a href="http://localhost:4449/search/XRP-USD">XRP-USD</a></th>
            </tr>
            <tr>
                <th>Litecoin</th>
                <th><a href="http://localhost:4449/search/LTC-USD">LTC-USD</a></th>
            </tr>
            <tr>
                <th>Loopring</th>
                <th><a href="http://localhost:4449/search/LRC-USD">LRC-USD</a></th>
            </tr>
            <tr>
                <th>Hex</th>
                <th><a href="http://localhost:4449/search/HEX-USD">HEX-USD</a></th>
            </tr>
            <tr>
                <th>Terra</th>
                <th><a href="http://localhost:4449/search/LUNA1-USD">LUNA1-USD</a></th>
            </tr>
            <tr>
                <th>Uniswap</th>
                <th><a href="http://localhost:4449/search/UNI3-USD">UNI3-USD</a></th>
            </tr>
            <tr>
                <th>Chainlink</th>
                <th><a href="http://localhost:4449/search/LINK-USD">LINK-USD</a></th>
            </tr>
            <tr>
                <th>Algorand</th>
                <th><a href="http://localhost:4449/search/ALGO-USD">ALGO-USD</a></th>
            </tr>
        </tbody>
        
    </table>
</body>
</html>