<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Assets</title>
</head>
<body>
    <h1>Supported Assets</h1>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Ticker</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Bitcoin</th>
                <th>BTC</th>
            </tr>
            <tr>
                <th>Etherium</th>
                <th>ETH</th>
            </tr>
        </tbody>
        
    </table>
</body>
</html>