<form action="/entry" method="POST">
    <br/><br/>
    <p>
        Welcome to StocksSticks where we introduce and display basic Candle Stick patters in <br />
        assets for educational purposes
    </p>
    <br /><br />
    <p>Enter a supported asset below by asset ticker</p>
    <p>Examples: <b>BTC-USD</b> for Bitcoin, <b>ETH-USD</b> for Etherium</p><br/>
    <p>If you wish to see a full list of our supported items go to <a href="http://localhost:4449/assets">Assets</a></p>
    <p>Ticker: <input type="text" name="name" /></p>
    <p><input type="submit" value="Submit" /></p>
    <p>There are currently no new features on our site as of 12-3-2021</p>
</form>