<form action="/entry" method="POST">
    <p>
        Welcome to StocksSticks where we introduce and display basic Candle Stick patters in <br />
        assets for educational purposes
    </p>
    <br /><br />
    <p>Enter a supported asset below by name or asset ticker</p>
    <p>Ticker: <input type="text" name="name" /></p>
    <!--<br />
    <p>Enter a time period for the chart to graph as (1yr, 1mo, 1w, 1d)</p>
    <p>Time Period to Chart: <input type="text" name="period" /></p>
    <br />
    <p>Enter a time period for each of the candle sticks to cover as (1yr, 1mo, 1w, 1d)</p>
    <p>Candle Time Period: <input type="text" name="interval" /></p>-->
    <p><input type="submit" value="Submit" /></p>
</form>