<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Supported Patterns:</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Atributes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Hammer</th>
                <th><a href="http://localhost:4449/Hammer">Learn more about Hammer</a></th>
            </tr>
            <tr>
                <th>Inverse Hammer</th>
                <th><a href="http://localhost:4449/Inverse">Learn more about Inverse Hammer</a></th>
            </tr>
            <tr>
                
                <th>Morning Star</th>
                <th><a href="http://localhost:4449/Morning">Learn more about Morning Star</a></th>
            </tr>
            <tr>
                
                <th>Three White Soldiers</th>
                <th><a href="http://localhost:4449/White">Learn more about Three White Soldiers</a></th>
            </tr>
            <tr>
                
                <th>Hanging Man</th>
                <th><a href="http://localhost:4449/Hanging">Learn more about Hanging Man</a></th>
            </tr>
            <tr>
                
                <th>Three Black Crows</th>
                <th><a href="http://localhost:4449/Crow">Learn more about Three Black Crows</a></th>
            </tr>

        </tbody>

    </table>
</body>
</html>