<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Supported Patterns</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Projection</th>
                <th>Atributes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Image</th>
                <th>Hammer</th>
                <th>Buy</th>
                <th>Atributes</th>
            </tr>
            <tr>
                <th>Image</th>
                <th>Hangman</th>
                <th>Sell</th>
                <th>Atributes</th>
            </tr>
        </tbody>

    </table>
</body>
</html>