<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>{{patternZ}} Pattern Information</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Projection</th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{patternZ}}</th>
                <th>{{signal}}</th>
                <th>{{information}}</th>
            </tr>            
        </tbody>

    </table>
</body>
</html>